body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;

}

h1 {
    font-size: 50px;
}

.heder-color {
    color: rgb(49, 146, 243);

}

section {
    display: flex;
}

.half-witdh {
    width: 50%;
    padding-left: 5%;
}

.half-witdh img {
    width: 80%;
    padding-top: 8%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(244, 212, 212));
    padding: 8px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}